h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    color: blue;
    text-align: center;
}
img{
    border-radius: 5px;
    box-shadow: 60px -16px teal;
}
a {
    color: rgb(6, 174, 9);
    text-decoration: none ;
    background-color: red;
}